<main>
  <div class="title-content">
    <h2>Hi! My name is Alex Tolkachev!</h2>
    <h3>and I am a web developer</h3>
    <p>Although I have a degree in linguistics and have been working as a teacher for the last 10 years or so, I have acquired a profound knowledge of modern web techhologies and thus I am able to develop powerful web apps with succint designs!</p>
  </div>
  <img src="https://res.cloudinary.com/dl270riq7/image/upload/v1711538245/Cool_Alex_dnkcql.jpg" alt="">
</main>
<div class="stack-section">
  <h3>I have mastered</h3>
  <div class="stack">
    <img src="https://res.cloudinary.com/dl270riq7/image/upload/v1684412966/rails_daiche.png" alt="">
    <img src="https://res.cloudinary.com/dl270riq7/image/upload/v1711538962/267_Python-512_gwrn2v.png" alt="">
    <img src="https://res.cloudinary.com/dl270riq7/image/upload/v1684412965/HTML_kt9cfs.png" alt="">
    <img src="https://res.cloudinary.com/dl270riq7/image/upload/v1684412966/CSS_poiwba.png" alt="">
    <img src="https://res.cloudinary.com/dl270riq7/image/upload/v1684412965/javascript_yczsih.png" alt="">
    <img src="https://res.cloudinary.com/dl270riq7/image/upload/v1684412966/vuejs_ousc6e.png" alt="">
  </div>
</div>
