<main>
  <img src="https://res.cloudinary.com/dl270riq7/image/upload/v1711519678/bass-music_dmfky1.png">
    <div>
      <h2>Bass Sound</h2>
      <p>Discover the world of new music - search the best albums, enjoy new hits coming out every Friday!</p>
  </div>
</main>
<div class="supsection">
  <div class="app">
    <img src="https://res.cloudinary.com/dl270riq7/image/upload/v1711519679/threadly_lvwirs.png">
    <h3>Threadly</h3>
    <p>A threads app that allows users to chat by posting an infinite amount of threads.</p>
    </div>
  <div class="app">
    <img src="https://res.cloudinary.com/dl270riq7/image/upload/v1711519680/innovation-cloud3_y8saoh.png">
    <h3>InTouch</h3>
    <p>Email newsletter subscription service for an innovative tech company.</p>
  </div>
  <div class="app">
    <img src="https://res.cloudinary.com/dl270riq7/image/upload/v1711519679/broadway_o0wqnw.png">
    <h3>Broadway</h3>
    <p>A landing page for an IT startup.</p>
  </div>
  <div class="app">
    <img src="https://res.cloudinary.com/dl270riq7/image/upload/v1711519679/bolt-network_ahmgsk.png">
    <h3>Bolt network</h3>
    <p>A movie streaming service that allows users to choose from thousands of films in its library.</p>
    </div>
  <div class="app">
    <img src="https://res.cloudinary.com/dl270riq7/image/upload/v1711519678/innovation-cloud2_usnffz.png">
    <h3>Innovation Cloud</h3>
    <p>A webpage for the Innovation Cloud conference.</p>
  </div>
  <div class="app">
    <img src="https://res.cloudinary.com/dl270riq7/image/upload/v1711519678/bookmarks_apwlkk.png">
    <h3>Bookmarks</h3>
    <p>A service that collects all of the reviews done by prestigious publishers.</p>
  </div>

</div>
