<main>
  <h2>My mission</h2>
  <p>As a Web Developer, I strive to create world-class web apps that suit all of my clients needs. I achieve that through the combinaton of skills in web design as well as in computer programming.</p>
</main>
